body{
    background: url(../img/bjt.jpg) no-repeat;
    background-size: 1980px 1080px;
}
.d1{
    width: 120px;
    height: 50px;
    text-align: center;
    margin-top: 20px; 
    margin-left :20px;
}
input{
    height: 35px;
    width: 240px;
    border: none;
    background-color:rgba(155,177,204,0.0);
}
.d2{
    margin: auto;
    margin-top: 150px;
    background-color: rgba(155, 177, 204, 0.6);
    width: 600px;
    height: 340px;
    border-radius: 25px;
    text-align: center;
    padding: 10px;
    box-shadow: 5px 5px 3px 2px rgba(83, 87, 87, 0.4),7px 7px 10px 2px rgba(44, 46, 46, 0.4);
}
.dl{
    margin-top: 40px;
    background-color: rgba(205, 229, 244,1 );
    border-radius: 20px 20px;
    height: 40px;
    color: rgb(85, 156, 245);
    border: none;
    font-size: 24px;
}
.dl:hover{
    background-color: royalblue ;
    opacity: 0.6;
    
}
button{
    display: inline;
    text-align: right;
    color: rgb(85, 156, 245);
    text-decoration: none;
    margin-top: 30px;
    background-color:rgba(155,177,204,0.0);
    border: none;
}
.b1{
    width: 100px;
    border: none;
    color: #559CF5;
}
.b2{
    margin-left: 0;
}
span{
    color: rgb(48, 47, 47);
}
